.microsoft{
    width: 350px;
    margin: 25px auto;
}
.square.red{
    background-color: #f35322;
}
.square.blue{
    background-color: #b504ea;
}
.square.yellow{
    background-color: #13f90b;
}
.square.green{
    background-color: #054c80;
}
.square{
    width: 150px;
    height: 150px;
    margin: 0 4px 8px ;
    float: left;
}
