.microsoft{
    width: 350px;
    margin: 25px auto;
    margin-top: 200px;
}
.square.red{
    background-color:red ;
}
.square.red:hover{
    background-color: #e85106;
}
.square.blue{
    background-color: rgb(255, 179, 0);
}
.square.blue:hover{
    background-color: rgb(255, 140, 0);
}
.square.yellow{
    background-color: #0b62f9;
}
.square.yellow:hover{
    background-color: #0742aa;
}
.square.green{
    background-color: #0690f4;
}
.square.green:hover{
    background-color: #086cb3;
}
.square{
    width: 150px;
    height: 150px;
    margin: 0 4px 8px ;
    float: left;
}
.heading{
    color: red;
    font-size: 100px;
    padding-right: 500px;
    padding-left: 750px;
    font-style: italic;
    font-weight: 50%;
}